#listView {
    padding: 10% 5%, 6%, 5%;
    margin-bottom: -1px;
    min-height: 510px;
}

.product {
    float: left;
    position: relative;
    width: 201px;
    height: 251px;
            
    padding: 0;
    margin-top: 5%;
    margin-right: 4%;
    margin-left: 5%;
}

.product img {
    width: 200px;
    height: 200px;
}

.product h3 {
    margin: 0;
    padding: 3px 5px 0 0;
    max-width: 250px;
    overflow: hidden;
    line-height: 1.1em;
    font-size: .9em;
    font-weight: normal;
    text-transform: uppercase;
    color: #999;
}

.product p {
    visibility: hidden;
    font-size: 200%;
}

.product:hover p {
    visibility: visible;
    position: absolute;
    width: 200px;
    height: 200px;
    top: 0;
    margin: 0;
    padding: 0;
    line-height: 60px;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    background-color: rgba(0,0,0,0.75);
    transition: background .2s linear, color .2s linear;
    -moz-transition: background .2s linear, color .2s linear;
    -webkit-transition: background .2s linear, color .2s linear;
    -o-transition: background .2s linear, color .2s linear;
}

.k-listview:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
		
#search-input-group{
    margin-bottom: 2%;
}

.block {
    font-size: large;
}


.demo {
    left: 50%;
    right: 50%;
    position: center;
}

.fieldlist {
    margin: 0 3em 0 0;
    padding: 0;
}

.fieldlist li {
    list-style: none;
    text-align: left;
}

.fieldlist h5 {
    padding-top: 5px;
}

.panel-body img{
    width: 500px;
    height: 500px;

}