@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="panel panel-default">
    <div class="panel-heading">Информация</div>
    <div class="panel-body">
        Вы успешно вышли со своего аккаунта.
    </div>
</div>