.about-page
{
    background-color: #fff;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
}
h2
{
    text-align: center;
    border-bottom: 3px solid #578F90;
}
h4
{
    text-indent: 5%;
}
img
{
    height:150px;
    width: 150px;
}
p
{
    line-height: 1.5;
    text-align: justify;
    text-indent: 5%;
}


