.about-page
{
    background-color: #fff;
    margin-top: 1%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 2%;
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1%;
}
h2
{
    text-align:center;
}
h4
{
    text-indent: 5%;
}
img.content-img
{
    height:150px;
    width: 150px;
    margin-left:20px;
    margin-right:20px;
    
}
p
{
    line-height: 1.5;
    text-align: justify;
    text-indent: 5%;
}


