@{
    ViewBag.Title = "О нас";
}
<head>
    <meta charset="cp1251" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>О нас</title>
</head>
<body>
    <div>
        <h3>Информация о компании</h3>
        <p>Компания "Course Cloud" была основана в 2015 году.
            Численность компании насчитывала 11 сотрудников.
            Комнпания занимается организацией и предоставлением обучающих курсов,
            тренингов, мастер-классов для различных родов занятий.</p>
    </div>
    <div>
        <h4>Наши приемущества</h4>
        <p>Мы имеем богатый опыт, полученный в результате сотрудничества с различными
            компаниями. Наша цель - не просто организовать мероприятие, а сделать так,
            чтобы оно принесло пользу всем его участникам. Дать опыт и ту основу,
            которая необходима в новых делах.</p>
    </div>
    <div>
        <h4>С кем мы сотрудничаем</h4>
        <p>"Course Cloud" имеет связи со всеми крупными компаниями города. Такими как
            "АлвионЕвропа" и т.д. Они предоставляют высококвалифицированных
            специалистов для курсов по специальностям, которые на данный момент
            востребованы как в самих компаниях, так и на рынке в целом.</p>
    </div>
    <div>
        <h4>Что получаем на выходе</h4>
        <p>По завершению курсов, у участников имеется возможность получить сертефикат,
            подтверждающий факт успешного прохождения курсов. В дальнейшем он может
            сыграть важную роль в вашем трудоустройстве. Что не менее важно, так это
            опыт, полученный в новом для вас деле.</p>
    </div>
</body>

