@{
    ViewBag.Title = "О нас";
}
@Styles.Render("~/Content/Css/about.css")
<div class="about-page">
    <div >
        <h2>Информация о компании</h2>
        <p>
            Компания "Course Cloud" была основана в 2015 году.
            Численность компании насчитывала 11 сотрудников.
            Комнпания занимается организацией и предоставлением обучающих курсов,
            тренингов, мастер-классов для различных родов занятий.
        </p>
    </div>
    <div>
        <div>
            <table>
                <tr>
                    <td> <img class="content-img" src="~/Content/images/advantages2.png"> </td>
                    <td>
                        <h4>Наши приемущества</h4>
                        <p>
                            Мы имеем богатый опыт, полученный в результате сотрудничества с различными
                            компаниями. Наша цель - не просто организовать мероприятие, а сделать так,
                            чтобы оно принесло пользу всем его участникам. Дать опыт и ту основу,
                            которая необходима в новых делах.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <table>
                <tr>
                    <td>
                        <h4>С кем мы сотрудничаем</h4>
                        <p>
                            "Course Cloud" имеет связи со всеми крупными компаниями города. Такими как
                            "АлвионЕвропа" и т.д. Они предоставляют высококвалифицированных
                            специалистов для курсов по специальностям, которые на данный момент
                            востребованы как в самих компаниях, так и на рынке в целом.
                        </p>
                    </td>
                    <td> <img class="content-img" src="~/Content/images/partnership2.png"> </td>
                </tr>
            </table>
        </div>
        <div>
            <table>
                <tr>
                    <td> <img class="content-img" src="~/Content/images/certificate2.png"> </td>
                    <td>
                        <h4>Что получаем на выходе</h4>
                        <p>
                            По завершению курсов, у участников имеется возможность получить сертефикат,
                            подтверждающий факт успешного прохождения курсов. В дальнейшем он может
                            сыграть важную роль в вашем трудоустройстве. Что не менее важно, так это
                            опыт, полученный в новом для вас деле.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>