@{
    ViewBag.Title = "Главная";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<link rel="stylesheet" href="~/Content/app/index-list-style.css">
<script src="~/Scripts/app/index/index-listView.js"></script>



<div class="index">    
    <div class="demo-section k-content wide">
        <div id="listView"></div>
        <div id="pager" class="k-pager-wrap"></div>
    </div>
    <script type="text/x-kendo-template" id="template">
        <div class="product">
            <img src="data:image/png;base64,${Image}" alt="#:Name # image" />
            
            <h3>#:Name#</h3>
            <p>
                <br>Подробнее... <br>
                <button class="btn btn-info" type="button" id="buyButton" data-id="#: Id#" onclick="BasketButtonEventListener">Купить</button>
            </p>
            
        </div>
    </script>    
</div>


<div class="product-details">
    <div class="parent">
        <br />
        <div class="panel panel-info">
            <div class="panel-heading">
                Информация о курсе
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label> Название : </label>
                    <label data-bind="text:nameValue"></label>
                </div>
                <div class="form-group">
                    <label> Тип мероприятия : </label>
                    <label data-bind="text:typeValue"></label>
                </div>
                <div class="form-group">
                    <label> Доступных мест : </label>
                    <label data-bind="text:seatsCountValue"></label>
                </div>
                <div class="form-group">
                    <label> Место проведения : </label>
                    <label data-bind="text:locationValue"></label>
                </div>
                <div class="form-group">
                    <input type="checkbox" data-bind="checked: activeValue" disabled />
                </div>
                <div class="form-group">
                    <label> Описание : </label>
                    <label data-bind="text:descriptionValue"></label>
                </div>
            </div>
        </div>
    </div>
    <button type="button" id="textButton">НАЗАД</button>
</div>

@Scripts.Render("~/bundles/basket")

