
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model dotnet01.Areas.Admin.Models.AccountIndexViewModel
@using dotnet01.Areas.Helpers
<br />
<div class="panel panel-default">
    <div class="panel-heading">
        Аккаунты
    </div>
    <table class="table table-striped">
        <tr>
            <th>Логин</th>
            <th>Пароль</th>
            <th></th>
        </tr>
        @foreach (var item in Model.Accounts)
        {
            <tr>
                <td>@item.Login</td>
                <td>@item.Password</td>
                <td>@Html.ActionLink("Редактировать","Edit", new{id=item.Id})</td>
            </tr>
        }
    </table>
    <div class="panel-footer">
        <div class="btn-group">
            @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new { page = x }))
        </div>
    </div>
</div>

<br />
