@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Менеджер курсов</h2>
    <p class="lead">Это административный блок для работы менеджера</p>
    <p><a href="/Manager/Index" class="btn btn-primary btn-lg">Перейти на страницу продуктов &raquo;</a></p>
</div>
