@{
    ViewBag.Title = "Home Page";
}
<br />
<div class="jumbotron">
    <h2>Менеджер курсов</h2>
    <p class="lead">Это административный блок для работы менеджера</p>
    <p><a href="/Product/Index" class="btn btn-primary btn-lg">Авторизоваться и начать работу &raquo;</a></p>
</div>
